<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CustomModule\BuildingManager\Api\UserManagementInterface"
                type="CustomModule\BuildingManager\Model\UserApi"/>
    <preference for="CustomModule\BuildingManager\Api\ProjectManagementInterface"
                type="CustomModule\BuildingManager\Model\ProjectApi"/>
    <preference for="CustomModule\BuildingManager\Api\RoomManagementInterface"
                type="CustomModule\BuildingManager\Model\RoomApi"/>
    <preference for="CustomModule\BuildingManager\Api\HistoryRoomManagementInterface"
                type="CustomModule\BuildingManager\Model\HistoryRoomApi"/>
</config>